{% block content %}
<!-- Подключение Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
<style>
    body {
        font-family: 'Montserrat', sans-serif;
        background-color: #efe3f1; /* Супер-девчачий фон */
        color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .form-container {
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: relative; /* Для позиционирования эмодзи */
        max-width: 730px; /* Управление шириной формы */
    }
    h2 {
        text-shadow: 0px 0px 8px #ff69b4,
                     0px 0px 10px #fc83bf,
                     0px 0px 12px #f1c2da;
        text-align: center;
        color: #c7508b; 
    }
    p, form {
        text-align: center;
    }
    strong {
        font-weight: bold;
    }
    button {
        background-color: #ec7bd0; /* Девчачья тематика */
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        transition: transform 0.2s; /* Плавное увеличение при наведении */
        margin-top: 10px;
    }
    button:hover {
        background-color: #ff85c8;
        transform: scale(1.1); /* Увеличение при наведении */
    }
    .emoji {
        position: absolute;
        font-size: 50px;
    }
    .emoji:nth-child(1) { top: -10px; right: -10px; }
    .emoji:nth-child(2) { top: -10px; left: -10px; }
    .emoji:nth-child(3) { bottom: -10px; right: -10px; }
    .emoji:nth-child(4) { bottom: -10px; left: -10px; }
</style>

<div class="form-container">
    <div class="emoji">🎀</div>
    <div class="emoji">🎀</div>
    <div class="emoji">🎀</div>
    <div class="emoji">🎀</div>
    <h2>BOOKING CONFORMATION</h2>
    <p>You have selected: <strong>{{ slot.slot_name.name }}</strong> с <strong>{{ slot.start_time }}</strong> до <strong>{{ slot.end_time }}</strong> в <strong>{{ slot.location }}</strong>. Confirm your booking by selecting the <strong>SAME</strong> slot below in the list.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">CONFIRM BOOKING</button>
    </form>
    <form action="{% url 'citizen_profile' %}" method="post">
        {% csrf_token %}
        <button type="submit">BACK</button>
    </form>
</div>
{% endblock %}
