

{% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Выйти</button>
    </form>
    <h2>Доступные слоты для бронирования</h2>

    <!-- Вывод сообщений Django -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <ul>
        <!-- Обратите внимание, что правильно 'available_slots', а не 'avaliable_slots' -->
        {% for slot in avaliable_slots %}
        <li>
            {{ slot.slot_name.name }}: {{ slot.start_time }} - {{ slot.end_time }} в {{ slot.location }}
            <!-- Кнопка для перехода на страницу бронирования конкретного слота -->
            <a href="{% url 'book_slot' slot.id %}"><button>Забронировать</button></a>
        </li>
        {% endfor %}
    </ul>
{% endif %}
